@page
@{
    ViewData["Title"] = "Code";
}

<div class="container-fluid mt-3 mb-3">
<h2 class="mt-4">Pre</h2>

<pre>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Fusce tempor lectus vitae ante pellentesque ultrices. Sed commodo nulla sit amet risus ullamcorper, at tincidunt quam consectetur. 

Suspendisse sagittis, nunc a euismod commodo, elit arcu tempor ex, in pulvinar magna enim id libero. 
Ut malesuada leo quis tellus hendrerit, sit amet eleifend erat sagittis. 
Vivamus aliquet porta lorem, vel maximus elit laoreet eget. 

Suspendisse sed dui dapibus, rutrum nunc vel, eleifend urna. 
In hac habitasse platea dictumst. Nullam fermentum, metus quis vehicula dignissim, justo nisi sollicitudin velit, sit amet volutpat eros metus vel turpis. 
Donec non mauris malesuada, faucibus dolor vel, vestibulum tellus. 
Sed maximus tellus vel diam dapibus, quis malesuada odio cursus. 
Phasellus viverra felis eu tortor sagittis, eget consectetur mauris auctor. 
In a metus nulla. Sed imperdiet mauris et quam bibendum vestibulum. Sed consectetur enim eget nunc vestibulum, at tristique dolor suscipit. 

Suspendisse potenti.</pre>

<h2 class="mt-4">Pre &gt; Code</h2>
<pre><code>#include &lt;stdio.h&gt;

int main() {
  int x = 5;
  float y = 3.14;
  char c = 'A';

  printf("The value of x is %d\n", x);
  printf("The value of y is %.2f\n", y);
  printf("The value of c is %c\n", c);

  return 0;
}</code></pre>
</div>