@page

<div class="container">
    <main role="main" class="pb-3">
        Take a look at the footer!
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - Bootstrap Dark Theme
    </div>
</footer>
