@page
@{
    ViewData["Title"] = "Typography";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Heading 1</h1>
            <p>Consequat cupidatat consequat enim occaecat anim tempor consectetur. Esse cillum esse adipisicing do sunt ipsum dolor adipisicing do id id sit. Duis officia veniam excepteur velit aliqua irure. Lorem nostrud pariatur ea dolor do nisi nisi velit mollit sunt ea exercitation adipisicing. Irure commodo exercitation duis eu excepteur reprehenderit anim commodo occaecat culpa consectetur ad. Sit anim ex occaecat nisi.</p>
            <h2>Heading 2</h2>
            <p>Consequat cupidatat consequat enim occaecat anim tempor consectetur. Esse cillum esse adipisicing do sunt ipsum dolor adipisicing do id id sit. Duis officia veniam excepteur velit aliqua irure. Lorem nostrud pariatur ea dolor do nisi nisi velit mollit sunt ea exercitation adipisicing. Irure commodo exercitation duis eu excepteur reprehenderit anim commodo occaecat culpa consectetur ad. Sit anim ex occaecat nisi.</p>
            <h3>Heading 3</h3>
            <p>Consequat cupidatat consequat enim occaecat anim tempor consectetur. Esse cillum esse adipisicing do sunt ipsum dolor adipisicing do id id sit. Duis officia veniam excepteur velit aliqua irure. Lorem nostrud pariatur ea dolor do nisi nisi velit mollit sunt ea exercitation adipisicing. Irure commodo exercitation duis eu excepteur reprehenderit anim commodo occaecat culpa consectetur ad. Sit anim ex occaecat nisi.</p>
            <h4>Heading 4</h4>
            <p>Consequat cupidatat consequat enim occaecat anim tempor consectetur. Esse cillum esse adipisicing do sunt ipsum dolor adipisicing do id id sit. Duis officia veniam excepteur velit aliqua irure. Lorem nostrud pariatur ea dolor do nisi nisi velit mollit sunt ea exercitation adipisicing. Irure commodo exercitation duis eu excepteur reprehenderit anim commodo occaecat culpa consectetur ad. Sit anim ex occaecat nisi.</p>
            <h5>Heading 5</h5>
            <p>Consequat cupidatat consequat enim occaecat anim tempor consectetur. Esse cillum esse adipisicing do sunt ipsum dolor adipisicing do id id sit. Duis officia veniam excepteur velit aliqua irure. Lorem nostrud pariatur ea dolor do nisi nisi velit mollit sunt ea exercitation adipisicing. Irure commodo exercitation duis eu excepteur reprehenderit anim commodo occaecat culpa consectetur ad. Sit anim ex occaecat nisi.</p>
            <h6>Heading 6</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit nam explicabo, placeat distinctio facilis blanditiis quos fuga deserunt ea ipsa? Illum, odit! Suscipit dolore incidunt fugiat officiis nisi modi praesentium.</p>

            <h2>Unordered Lists</h2>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis laborum explicabo nulla voluptatem. Molestiae, perspiciatis officia ipsum maxime porro facere neque quos alias odio quisquam. Voluptatibus animi debitis nulla ullam?</li>
                <li>Amet commodi quod quae, voluptatum labore, deserunt odio sequi neque vel laudantium rem, corporis molestias! Ab voluptatibus harum deserunt illo? Quam ratione delectus ipsa reiciendis magnam incidunt fugiat facere unde.</li>
                <li>
                    Voluptas quidem nemo vitae nam cum saepe reprehenderit culpa. Animi eos molestiae eaque quisquam similique nihil quod? Optio, repellat. Velit in qui quod! Adipisci hic magnam temporibus perspiciatis sapiente eaque?
                    <ul>
                        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim repellat aliquid, placeat neque est nostrum repudiandae earum ipsam expedita fugiat maiores facere perferendis sapiente ea eveniet exercitationem, modi incidunt! Et.</li>
                        <li>Vero commodi dolor earum esse natus est aspernatur, odio hic voluptas, neque libero! Vero, dicta, ipsum, culpa pariatur eveniet sunt voluptatibus sit deserunt accusamus veritatis molestiae ex necessitatibus numquam aperiam.</li>
                        <li>Fugit temporibus, magnam neque deserunt nostrum omnis totam, aliquid reprehenderit obcaecati, fuga voluptatem error. Totam dolore nulla quos id rerum. Dolor, nobis similique sint voluptates iure explicabo officia quae doloribus?</li>
                    </ul>
                </li>
                <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto consectetur velit ea? Consequatur temporibus earum accusantium fuga tenetur, suscipit ea, vel commodi, inventore molestiae laborum dignissimos cumque omnis quos eum!
                    <ol>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam molestiae repellendus id nulla architecto, recusandae culpa voluptatum ipsum accusamus quidem, autem ipsa officia? Neque tempore voluptatibus voluptates soluta quos? Quaerat.</li>
                        <li>Odit itaque quis accusantium sed repellat, reprehenderit velit ullam eius laborum! Explicabo, ut! Aspernatur, excepturi placeat quis beatae mollitia provident! Consequatur doloremque deserunt reprehenderit labore dolores aliquam blanditiis ex beatae!</li>
                        <li>Ab nostrum molestiae, maxime modi fugiat incidunt ad, eligendi dolorum ipsum impedit quos, porro soluta quidem atque numquam ipsa vel quibusdam sit in? Unde nulla quibusdam nihil aperiam dolorum expedita.</li>
                    </ol>
                </li>
                <li>Labore voluptates maiores repellendus deserunt repudiandae error magnam sint reiciendis perspiciatis molestias, molestiae voluptatem hic quidem debitis cumque facere voluptatibus obcaecati quaerat ab neque culpa ipsa odio fuga! Minima, error?</li>
            </ul>
            
            <h2>Ordered Lists</h2>
            <ol>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ut, excepturi natus magnam, quod, vitae commodi neque beatae pariatur enim facilis sequi debitis odit? Vel ratione tenetur officia commodi provident!</li>
                <li>Beatae quaerat illo debitis aspernatur assumenda non, similique molestiae ipsa corporis sequi dicta asperiores! Sed eum maiores obcaecati laborum ut aperiam dicta! Blanditiis hic vero cupiditate accusantium perspiciatis ipsum molestias.</li>
                <li>
                    Assumenda quos inventore, earum ullam quae, dolorum adipisci, nesciunt obcaecati praesentium quasi facilis quo impedit distinctio id ut harum perferendis dolore. Non distinctio accusantium reiciendis quas impedit sit rerum molestias?
                    <ul>
                        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim repellat aliquid, placeat neque est nostrum repudiandae earum ipsam expedita fugiat maiores facere perferendis sapiente ea eveniet exercitationem, modi incidunt! Et.</li>
                        <li>Vero commodi dolor earum esse natus est aspernatur, odio hic voluptas, neque libero! Vero, dicta, ipsum, culpa pariatur eveniet sunt voluptatibus sit deserunt accusamus veritatis molestiae ex necessitatibus numquam aperiam.</li>
                        <li>Fugit temporibus, magnam neque deserunt nostrum omnis totam, aliquid reprehenderit obcaecati, fuga voluptatem error. Totam dolore nulla quos id rerum. Dolor, nobis similique sint voluptates iure explicabo officia quae doloribus?</li>
                    </ul>
                </li>
                <li>
                    Explicabo, culpa expedita. Laboriosam facilis officiis earum! Molestiae, ipsam assumenda ullam officiis totam facilis accusamus et corrupti mollitia necessitatibus consequatur voluptates iure id vitae ducimus tenetur dolorum? Ut, at amet!
                    <ol>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam molestiae repellendus id nulla architecto, recusandae culpa voluptatum ipsum accusamus quidem, autem ipsa officia? Neque tempore voluptatibus voluptates soluta quos? Quaerat.</li>
                        <li>Odit itaque quis accusantium sed repellat, reprehenderit velit ullam eius laborum! Explicabo, ut! Aspernatur, excepturi placeat quis beatae mollitia provident! Consequatur doloremque deserunt reprehenderit labore dolores aliquam blanditiis ex beatae!</li>
                        <li>Ab nostrum molestiae, maxime modi fugiat incidunt ad, eligendi dolorum ipsum impedit quos, porro soluta quidem atque numquam ipsa vel quibusdam sit in? Unde nulla quibusdam nihil aperiam dolorum expedita.</li>
                    </ol>
                </li>
                <li>Ullam minus ut nobis? Consequuntur molestiae optio placeat quasi excepturi molestias explicabo quos similique nobis tenetur nulla quisquam recusandae laborum, exercitationem, dignissimos sit tempora magnam debitis dicta a at doloribus.</li>
            </ol>

            <h2>Definition Lists</h2>
            <dl>
                <dt>Lorem ipsum</dt>
                <dd>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas omnis provident quaerat modi iste! Cumque voluptates asperiores nostrum molestias vero corrupti nihil aut necessitatibus! Ab possimus voluptatibus et quis nihil?</dd>

                <dt>Voluptatem</dt>
                <dd>Quod, consequatur voluptatum nemo repellat non, unde repellendus possimus, nam soluta cumque error explicabo quis obcaecati exercitationem aperiam numquam. Nam, tempore corrupti. Mollitia accusamus, veritatis tenetur cum cupiditate neque iure.</dd>

                <dt>Mollitia</dt>
                <dd>Itaque dolores minima quam molestias sit quisquam earum quo corporis ut veritatis, culpa perspiciatis nesciunt laudantium provident voluptas natus dignissimos mollitia impedit? Assumenda incidunt soluta ad nulla optio dolorum quam!</dd>
                
                <dt>Sit iusto iste excepturi</dt>
                <dd>Quisquam quasi sunt, maiores qui, repudiandae commodi eligendi laudantium odio officiis ad quia deleniti itaque molestiae placeat culpa, quibusdam voluptatibus ratione modi animi magni dignissimos iusto perferendis voluptatem! Repellendus, error.</dd>
                
                <dt>Assumenda vero</dt>
                <dd>Eius dolore impedit aliquid ut illum facilis! Quaerat id velit ut quidem illo maxime optio, suscipit reprehenderit ratione. Ut ad iusto fugit harum consectetur! Molestiae quam maxime mollitia deleniti similique.</dd>
            </dl>

            <h2>Others</h2>
            <p>Consequat cupidatat consequat enim occaecat anim tempor consectetur. Esse cillum esse adipisicing do sunt ipsum dolor adipisicing do id id sit. Duis officia veniam excepteur velit aliqua irure. Lorem nostrud pariatur ea dolor do nisi nisi velit mollit sunt ea exercitation adipisicing. Irure commodo exercitation duis eu excepteur reprehenderit anim commodo occaecat culpa consectetur ad. Sit anim ex occaecat nisi.</p>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti beatae amet eum praesentium animi quos nesciunt ratione autem, hic, asperiores quod sapiente cum sit omnis consequuntur. Modi fuga ut minima.</p>

        </div>
    </div>
</div>
