@{
    var title = ViewData["Title"] == null ? "Dark Bootstrap 4.1 theme" : $"{ViewData["Title"]} - Dark Bootstrap 4.1 theme";
    var loadToggleCss = true;
    var bodyCssClass = "";
    if (loadToggleCss)
    {
        bodyCssClass = "bootstrap-dark";
    }
    var navBarCssClass = loadToggleCss ? "navbar-themed" : "navbar-dark bg-dark";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dark Bootstrap 4.1 theme</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom built theme - This already includes Bootstrap 4 -->
    <link rel="stylesheet" href="~/css/site.css">
    @if(loadToggleCss)
    {
        <link rel="stylesheet" href="~/css/toggle-bootstrap.css">
        <link rel="stylesheet" href="~/css/toggle-bootstrap-dark.css">
        <link rel="stylesheet" href="~/css/toggle-bootstrap-print.css">
    }
    else
    {
        <link rel="stylesheet" href="~/css/bootstrap-dark.css">
    }
</head>
<body class="@bodyCssClass">
    <nav class="navbar navbar-expand-lg border-bottom @navBarCssClass" id="main-nav-bar">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" asp-page="index">Navbar</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                <li class="nav-item active">
                    <a class="nav-link" asp-page="index">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="typography">Typography</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="tables">Tables</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="cards">Cards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="listgroup">List Group</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="jumbotron">Jumbotron</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="forms">Forms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#!">Disabled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="footer">Footer</a>
                </li>
            </ul>
            <ul class="navbar-nav mt-2 mt-md-0 my-2">
                <li class="nav-item mx-2">
                    <a class="nav-link" href="javascript:document.getElementsByTagName('body')[0].setAttribute('class', 'bootstrap-dark');">Dark</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="javascript:document.getElementsByTagName('body')[0].setAttribute('class', 'bootstrap');">Light</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </form>
        </div>
    </nav>
    
    @RenderBody()

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>