@page
@{
    ViewData["Title"] = "Cards";
}

<div class="container-fluid mt-3 mb-3">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
    @foreach(var sufix in Bootstrap.Suffixes){
        <div class="col-3 mt-3">
            <div class="card bg-@sufix">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">@sufix card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-transparent">Cras justo odio</li>
                    <li class="list-group-item bg-transparent">Dapibus ac facilisis in</li>
                    <li class="list-group-item bg-transparent">Vestibulum at eros</li>
                </ul>
                @foreach(var subsufix in Bootstrap.Suffixes) {
                    <div class="card-body">
                        <div class="card bg-@subsufix">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                                <h4 class="card-title">@sufix with inner @subsufix</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item bg-transparent">Cras justo odio</li>
                                <li class="list-group-item bg-transparent">Dapibus ac facilisis in</li>
                                <li class="list-group-item bg-transparent">Vestibulum at eros</li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    </div>
</div>
