@page

<div class="container">
    <main role="main" class="pb-3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem tempora provident illum error impedit nulla culpa in et rerum assumenda pariatur quisquam fugiat, aut itaque exercitationem? Expedita ipsum impedit magni.
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - Bootstrap Dark Theme
    </div>
</footer>
